# Python
__pycache__/
*.py[cod]
.env
.venv/
env/
db.sqlite3
/media/
staticfiles/

# Node/React
Frontend/node_modules/
Frontend/.parcel-cache/
Frontend/build/
Frontend/dist/
*.log

# OS/IDE
.DS_Store
*.swp
.vscode/
.idea/
